/* Google font and weight import */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

#navbarColor03 ul li a {
    font-family: "Apple Chancery", sans-serif;
    font-size: 20px;
    padding-right: 15px;
    margin-right: 15px;
} /* NavBar Styling */

body{
    height: 100%;
    background-image: url("../img/book-bg.png");
    background-size: 100%;
    background-position: contain;
    background-color: #678F94;
    background-attachment: fixed;
} /* BG Image */

.input-group {
    height: 20px;
}
.quote {
    background-image: url("../img/quote.png");
    background-size: contain;
    height: 310px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center center; 
    margin-top: 25px;
} /* Quote Image */

#loader {
    text-align: center;
    visibility: visible;
}

/* Search Results Area */
.hiddenUntil {
    visibility: hidden;
}


.searchHeader {
    font-family: "Apple Chancery",sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 20px;
} /* Search Results Header */

#output {
    text-align: center;
} /* Output Box Area */


.bookPic, .title, .author, .rating, .desc {
    font-family: 'Lato', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.desc {
    clear: both;
    text-align: justify;
} /* Allows the book description to not have anything else either side of it */

.arrayReturn {
    border: 1px solid #fff;
    border-radius: 5%;
    background-color:#648C91;
}

.arrayReturn ul {
    height: 150px;
    margin-bottom: 5;
    list-style: none;
    padding: 5px;
}

.bookPic {
    float: left;
    text-align: center; 
}

.titleSection {
    margin-bottom: 0px;
}

/* Footer Area */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    letter-spacing: 2px;
    opacity:0.9;
}

footer p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Pagination */
#pagination_id {
min-width: 100%;
}

.nxt {
    float: right;
}

.prev {
    float: left;
}


/* Media Queries */

@media (min-width:360px) {
    .desc {
        padding: 40px 45px;
    } /* padding added to book description text */
}

@media (max-width:991px) {
    .bookPic {
    text-align: center;
    padding: 10px;
    } /* Book Picture is centre aligned on screen sizes up to 991px and padding is assigned */
    .arrayReturn ul li {
    text-align: center; 
    padding: 10px;   
    } /* Title, author & rating are centre aligned on screen sizes up to 991px and padding is added */
} 

@media (min-width:992px) {
    .bookPic {
    text-align: left;
    padding: 20px;
    } /* Book Picture is aligned to the left  on screen sizes 992px and above */
    .arrayReturn ul li  {
    text-align: left;
    transform: translateX(-20px);
    padding: 20px;    
    } /* Title, author & rating are aligned and moved horizontantly to the left on screen sizes 992px and above */
} 

@media (min-width:1280px) {
    .arrayReturn ul li {
        transform: translateX(-50px);
    } /* Title, author & rating are moved horizontantly to the left on screen sizes 1280px and above */
}




