/* Google font and weight import */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

#navbarColor03 ul li a {
    font-family: "Apple Chancery", sans-serif;
    font-size: 20px;
    padding-right: 15px;
    margin-right: 15px;
} /* NavBar Styling */

.fa-book-open {
    font-size: 30px;
} /* Navbar book icon size */

.fa-book-open:hover {
    color: red;
}

body{
    height: 100vh;
    background-image: url("../img/book-bg.png");
    background-size: 100%;
    background-color: #678F94;
    background-attachment: fixed;
} /* BG Image */

.quote {
    background-image: url("../img/quote.png");
    background-size: contain;
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center center; 
    margin-top: 25px;
} /* Quote Image */

#loader {
    text-align: center;
    visibility: visible;
    margin-top: 30px;
} /* position the loader in the middle of page and add a margin to the top */

.hiddenUntil {
    visibility: hidden;
} /* hides the book results until search query is submitted */

.searchHeader {
    font-family: "Apple Chancery",sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 10px;
} /* Search Results Header */

.bookPic, .title, .author, .rating, .desc {
    font-family: 'Lato', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
} /* styling for all the book results sections */

.desc {
    clear: both;
    padding: 8px;
    text-align: center;
} /* Allows the book description to not have anything else either side of it */



.arrayReturn {
    border: 1px solid #fff;
    border-radius: 25px;
    background-color:#648C91;
} /* adds a border and background color to the book results area */

.arrayReturn ul {
    list-style: none;
} /* Removes the bullet points from the book results list(title, author and rating) section */

.bookPic {
    float: left; 
} /* Floats the book picture to the left */

/* Footer Area */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    letter-spacing: 2px;
    opacity:0.9;
    margin-top: 20px;
} /* Footer styling */

footer p {
    color: #000;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: auto;
} /* Footer text styling */

/* Pagination Buttons */
button.nxt {
    color:black;
    font-family: 'Lato', sans-serif;
    float: right;
    background-color:red;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition-timing-function: ease-in;
} /* Styling for the next pagination button */

button.nxt:hover {
    color:red;
    background-color:black;
    transition-duration: .5s;
} /* Next button hover actions */

button.prev {
    color:black;
    font-family: 'Lato', sans-serif;
    float: left;
    background-color: red; 
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition-timing-function: ease-in;
} /* Styling for the previous pagination button */

button.prev:hover {
    color:red;
    background-color:black;
    transition-duration: .5s;
}

/* Media Queries */
@media (max-width:991px) {
    .bookPic {
      text-align: center;
      padding: 10px;
    } /* Book Picture is centre aligned on screen sizes up to 991px and padding is assigned */
    .arrayReturn ul li {
      text-align: center; 
      padding: 10px;   
    } /* Title, author & rating are centre aligned on screen sizes up to 991px and padding is added */
} 

@media (min-width:992px) {
    .bookPic {
      text-align: left;
      padding: 20px;
    } /* Book Picture is aligned to the left  on screen sizes 992px and above */
    .arrayReturn ul li  {
      text-align: left;
      transform: translateX(-20px);
      padding: 20px;    
    } /* Title, author & rating are aligned and moved horizontantly to the left on screen sizes 992px and above */
} 

@media (min-width:1280px) {
    .arrayReturn ul li {
        transform: translateX(-50px);
    } /* Title, author & rating are moved horizontantly to the left on screen sizes 1280px and above */
}






